In [15]:
import sqlite3
import pandas as pd
import csv
from typing import List
import re
from astroquery.simbad import Simbad

In [135]:
def create_database_schema(conn: sqlite3.Connection):
    cursor = conn.cursor()
    
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS system (
        sys_name VARCHAR(100) PRIMARY KEY,
        sy_snum INTEGER,
        sy_pnum INTEGER,
        ra FLOAT,
        dec FLOAT
    )
    ''')
    
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS discovery (
        disc_refname VARCHAR(200) PRIMARY KEY,
        disc_pubdate DATE
    )
    ''')
    
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS molecule (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name VARCHAR(100) UNIQUE
    )
    ''')
    
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS planet (
        pl_name VARCHAR(100) PRIMARY KEY,
        hostname VARCHAR(100),
        mass FLOAT,
        radius FLOAT,
        orbital_period FLOAT,
        tsm FLOAT,
        disc VARCHAR(200),
        FOREIGN KEY (hostname) REFERENCES system(sys_name),
        FOREIGN KEY (disc) REFERENCES discovery(disc_refname)
    )
    ''')
    
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS planet_has_molecule (
        pl_name VARCHAR(100),
        molecule_id INTEGER,
        FOREIGN KEY (pl_name) REFERENCES planet(pl_name),
        FOREIGN KEY (molecule_id) REFERENCES molecule(id),
        PRIMARY KEY (pl_name, molecule_id)
    )
    ''')
    
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS instrument (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name VARCHAR(100) UNIQUE
    )
    ''')
    
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS planet_characterized_by (
        pl_name VARCHAR(100),
        instrument_id INTEGER,
        FOREIGN KEY (pl_name) REFERENCES planet(pl_name),
        FOREIGN KEY (instrument_id) REFERENCES instrument(id),
        PRIMARY KEY (pl_name, instrument_id)
    )
    ''')

    cursor.execute('''
    CREATE TABLE IF NOT EXISTS host_ids (
        primary_id VARCHAR(100),
        alternate_id VARCHAR(100),
        FOREIGN KEY (primary_id) REFERENCES system(sys_name)
        PRIMARY KEY (primary_id, alternate_id)

    )
    ''')    


    cursor.execute('''
    CREATE TABLE IF NOT EXISTS brewer_stellar_property (
        StellarID TEXT PRIMARY KEY,
        Teff FLOAT,
        log_g FLOAT,
        SN FLOAT,
        Mass FLOAT,
        l_Mass FLOAT,
        u_Mass FLOAT,
        Age FLOAT,
        l_Age FLOAT,
        u_Age FLOAT,
        M_H FLOAT,
        e_M_H FLOAT
    )
    ''')

    cursor.execute('''
    CREATE TABLE IF NOT EXISTS apogee_stellar_property (
        StellarID TEXT PRIMARY KEY,
        Teff FLOAT,
        e_Teff FLOAT,
        log_g FLOAT,
        e_log_g FLOAT,
        SN FLOAT,
        M_H FLOAT,
        e_M_H FLOAT
    )
    ''')
    
    
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS abundance_surveys (
        SurveyID INTEGER PRIMARY KEY AUTOINCREMENT,
        Name VARCHAR(100) UNIQUE
    )
    ''')
    
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS elemental_abundances (
        StellarID VARCHAR(100) NOT NULL,
        Element_Ratio VARCHAR(20) NOT NULL,
        Abundance FLOAT,
        Error FLOAT,
        SurveyID INTEGER,
        FOREIGN KEY (StellarID) REFERENCES brewer_stellar_property(StellarID),
        FOREIGN KEY (SurveyID) REFERENCES abundance_surveys(SurveyID),
        UNIQUE(StellarID, Element_Ratio)
    )
    ''')

    
    conn.commit()

In [97]:
def extract_unique_molecules(molecules_str: str) -> list[str]:
    """Extract unique molecules from the comma-separated string."""
    if pd.isna(molecules_str):
        return []
    return [m.strip() for m in molecules_str.split(',')]

In [98]:
def load_data(csv_path: str, db_path: str):
    df = pd.read_csv(csv_path)

    conn = sqlite3.connect(db_path)
    create_database_schema(conn)

    systems_df = df[['hostname', 'sy_snum', 'sy_pnum', 'ra', 'dec']].drop_duplicates()
    systems_df = systems_df.rename(columns={'hostname': 'sys_name'})
    print(systems_df)
    systems_df.to_sql('system', conn, if_exists='append', index=False)
    
    discoveries_df = df[['disc_refname', 'disc_pubdate']].drop_duplicates()
    discoveries_df.to_sql('discovery', conn, if_exists='append', index=False)
    
    planets_df = df[['pl_name', 'hostname', 'mass', 'radius', 'orbital_period', 
                    'tsm', 'disc_refname']].drop_duplicates()
    planets_df = planets_df.rename(columns={'disc_refname': 'disc'})
    planets_df.to_sql('planet', conn, if_exists='append', index=False)
    
    all_molecules = set()
    for molecules in df['molecules'].dropna():
        all_molecules.update(extract_unique_molecules(molecules))
    
    cursor = conn.cursor()
    for molecule in all_molecules:
        cursor.execute('INSERT INTO molecule (name) VALUES (?)', (molecule,))
    conn.commit()
    
    cursor.execute('SELECT id, name FROM molecule')
    molecule_lookup = dict(cursor.fetchall())
    molecule_lookup = {v: k for k, v in molecule_lookup.items()}
    
    
    conn.commit()
    conn.close()

In [99]:
def extract_molecule_set(string):
    # Adjust regex to include keys with special characters (e.g., C/O, spaces, etc.)
    key_value_pairs = re.findall(r'"([\w\s:/.-]+)"\s*:\s*"Detection"', string)
    isolated_keys = set()
    for key in key_value_pairs:
        # Check if "C/O" exists within the key and add it directly
        if "C/O" in key:
            isolated_keys.add("C/O")
        elif "Featureless" not in key:
            isolated_keys.add(key)
    return isolated_keys
df = pd.read_csv('../preprocessed_data/planet_atmosphere.csv')


molecules = set()
planet_has = {}
for i in range(len(df['molecules'])):
    mol_i = extract_molecule_set(df['molecules'][i])
    try:
        planet_has[df['pl_name'][i]] = planet_has[df['pl_name'][i]].union(mol_i)
    except:
        planet_has[df['pl_name'][i]] = mol_i
    molecules = molecules.union(mol_i)

In [100]:
def add_planet_molecules(connection, planet_molecules):
    """
    Add molecules for each planet to the planet_has_molecule table.

    Args:
        connection (sqlite3.Connection): SQLite database connection.
        planet_molecules (dict): Dictionary where keys are planet names (str)
                                  and values are lists of molecule names (str).
    """
    cursor = connection.cursor()
    cursor.execute("SELECT name FROM molecule")
    existing_mols = {row[0] for row in cursor.fetchall()}

    # Iterate over each planet and its molecules
    for planet, molecules in planet_molecules.items():
        # Ensure the planet exists in the planet table
        cursor.execute('''
        INSERT OR IGNORE INTO planet (pl_name) VALUES (?)
        ''', (planet,))
        
        for molecule in molecules:
            if molecule not in existing_mols:

                # Ensure the molecule exists in the molecule table
                cursor.execute('''
                INSERT OR IGNORE INTO molecule (name) VALUES (?)
                ''', (molecule,))
                existing_mols.add(molecule)
            
            # Get the molecule ID
            cursor.execute('''
            SELECT id FROM molecule WHERE name = ?
            ''', (molecule,))
            molecule_id = cursor.fetchone()[0]
            
            # Insert into planet_has_molecule table
            cursor.execute('''
            INSERT OR IGNORE INTO planet_has_molecule (pl_name, molecule_id)
            VALUES (?, ?)
            ''', (planet, molecule_id))

    # Commit the changes
    connection.commit()


def add_planet_instruments(connection, planet_observed):
    """
    Add instruments for each planet to the planet_characterized_by table.

    Args:
        connection (sqlite3.Connection): SQLite database connection.
        planet_observed_by (dict): Dictionary where keys are planet names (str)
                                   and values are lists of instrument names (str).
    """
    cursor = connection.cursor()

    # Fetch all existing instruments from the database
    cursor.execute("SELECT name FROM instrument")
    existing_instruments = {row[0] for row in cursor.fetchall()}  # Set of instrument names

    # Iterate over each planet and its instruments
    for planet, instruments in planet_observed.items():
        # Ensure the planet exists in the planet table
        cursor.execute('''
        INSERT OR IGNORE INTO planet (pl_name) VALUES (?)
        ''', (planet,))
        
        for instrument in instruments:
            # Only insert instrument if it's not already in the existing_instruments set
            if instrument not in existing_instruments:
                cursor.execute('''
                INSERT INTO instrument (name) VALUES (?)
                ''', (instrument,))
                existing_instruments.add(instrument)  # Add the new instrument to the set
            
            # Get the instrument ID
            cursor.execute('''
            SELECT id FROM instrument WHERE name = ?
            ''', (instrument,))
            instrument_id = cursor.fetchone()[0]
            
            # Insert into planet_characterized_by table
            cursor.execute('''
            INSERT OR IGNORE INTO planet_characterized_by (pl_name, instrument_id)
            VALUES (?, ?)
            ''', (planet, instrument_id))

    # Commit the changes
    connection.commit()

In [10]:
import sqlite3
import pandas as pd


connection = sqlite3.connect("../test.db")
create_database_schema(connection)

cursor = connection.cursor()
# Convert the set into a list of tuples
molecule_tuples = [(name,) for name in molecules]

# Insert the molecules into the table
cursor.executemany('''
INSERT OR IGNORE  INTO molecule (name) VALUES (?)
''', molecule_tuples)

# Commit the changes and close the connection
connection.commit()
print(f"{cursor.rowcount} rows inserted.")
connection.close()

0 rows inserted.

In [11]:
connection = sqlite3.connect("../test.db")
cursor = connection.cursor()

# Add planet-molecule mappings
add_planet_molecules(connection, planet_has)

# Query the planet_has_molecule table to verify
cursor.execute('''
SELECT * FROM planet_has_molecule
''')
rows = cursor.fetchall()
for row in rows:
    print(row)

# Close the connection
connection.close()

('2M 0103-55 (AB) b', 7)
('2M0437 b', 1)
('2M0437 b', 32)
('2M0437 b', 35)
('51 Eri b', 3)
('51 Peg b', 1)
('51 Peg b', 35)
('55 Cnc b', 7)
('beta Pic b', 1)
('beta Pic b', 3)
('beta Pic b', 35)
('CI Tau b', 35)
('CoRoT-1 b', 1)
('CoRoT-1 b', 9)
('CoRoT-1 b', 23)
('CoRoT-1 b', 34)
('GJ 1132 b', 11)
('GJ 1214 b', 18)
('GJ 3470 b', 1)
('GJ 3470 b', 18)
('GJ 3470 b', 9)
('GJ 3470 b', 32)
('GJ 3470 b', 27)
('GJ 3470 b', 7)
('GJ 3470 b', 35)
('GJ 436 b', 7)
('GJ 9827 d', 1)
('HAT-P-1 b', 1)
('HAT-P-1 b', 33)
('HAT-P-1 b', 40)
('HAT-P-11 b', 1)
('HAT-P-11 b', 17)
('HAT-P-11 b', 18)
('HAT-P-11 b', 7)
('HAT-P-12 b', 1)
('HAT-P-18 b', 1)
('HAT-P-18 b', 18)
('HAT-P-18 b', 9)
('HAT-P-18 b', 26)
('HAT-P-18 b', 15)
('HAT-P-26 b', 1)
('HAT-P-26 b', 18)
('HAT-P-26 b', 38)
('HAT-P-32 b', 1)
('HAT-P-32 b', 18)
('HAT-P-32 b', 9)
('HAT-P-32 b', 15)
('HAT-P-32 b', 7)
('HAT-P-41 b', 1)
('HAT-P-41 b', 31)
('HAT-P-41 b', 38)
('HAT-P-41 b', 5)
('HAT-P-55 b', 33)
('HAT-P-55 b', 5)
('HAT-P-65 b', 38)
('HAT-P-67 b', 18)
('HAT-P-67 b', 33)
('HAT-P-7 b', 1)
('HAT-P-7 b', 22)
('HAT-P-7 b', 15)
('HAT-P-70 b', 14)
('HAT-P-70 b', 7)
('HAT-P-70 b', 29)
('HAT-P-70 b', 30)
('HAT-P-70 b', 39)
('HAT-P-70 b', 33)
('HATS-46 b', 26)
('HATS-5 b', 1)
('HD 102195 b', 1)
('HD 102195 b', 32)
('HD 106315 c', 1)
('HD 143105 b', 1)
('HD 149026 b', 1)
('HD 149026 b', 30)
('HD 149026 b', 3)
('HD 149026 b', 15)
('HD 149026 b', 41)
('HD 179949 b', 1)
('HD 179949 b', 35)
('HD 189733 b', 1)
('HD 189733 b', 15)
('HD 189733 b', 7)
('HD 189733 b', 19)
('HD 189733 b', 18)
('HD 189733 b', 9)
('HD 189733 b', 10)
('HD 189733 b', 33)
('HD 189733 b', 11)
('HD 189733 b', 35)
('HD 209458 b', 1)
('HD 209458 b', 3)
('HD 209458 b', 38)
('HD 209458 b', 15)
('HD 209458 b', 7)
('HD 209458 b', 19)
('HD 209458 b', 18)
('HD 209458 b', 17)
('HD 209458 b', 32)
('HD 209458 b', 33)
('HD 209458 b', 11)
('HD 209458 b', 35)
('HD 3167 c', 1)
('HD 3167 c', 15)
('HD 63433 c', 7)
('HD 73583 b', 18)
('HD 80606 b', 32)
('HD 80606 b', 35)
('HD 85628 A b', 2)
('HD 85628 A b', 37)
('HD 85628 A b', 7)
('HD 85628 A b', 29)
('HD 85628 A b', 30)
('HD 85628 A b', 39)
('HD 85628 A b', 33)
('HD 85628 A b', 36)
('HIP 65426 b', 3)
('HIP 65A b', 1)
('HIP 65A b', 35)
('HIP 67522 b', 1)
('HIP 67522 b', 15)
('HIP 67522 b', 10)
('HIP 67522 b', 35)
('HR 8799 b', 1)
('HR 8799 b', 17)
('HR 8799 b', 16)
('HR 8799 b', 15)
('HR 8799 b', 26)
('HR 8799 b', 35)
('HR 8799 c', 1)
('HR 8799 c', 17)
('HR 8799 c', 32)
('HR 8799 c', 26)
('HR 8799 c', 11)
('HR 8799 c', 35)
('HR 8799 d', 1)
('HR 8799 d', 16)
('HR 8799 d', 32)
('HR 8799 d', 15)
('HR 8799 d', 26)
('HR 8799 e', 1)
('HR 8799 e', 16)
('HR 8799 e', 32)
('HR 8799 e', 26)
('HR 8799 e', 11)
('HR 8799 e', 35)
('K2-18 b', 1)
('K2-18 b', 15)
('K2-18 b', 32)
('K2-33 b', 26)
('KELT-1 b', 22)
('KELT-1 b', 32)
('KELT-11 b', 1)
('KELT-11 b', 33)
('KELT-2 A b', 1)
('KELT-7 b', 1)
('KELT-7 b', 34)
('KELT-9 b', 22)
('KELT-9 b', 23)
('KELT-9 b', 37)
('KELT-9 b', 24)
('KELT-9 b', 38)
('KELT-9 b', 7)
('KELT-9 b', 29)
('KELT-9 b', 30)
('KELT-9 b', 19)
('KELT-9 b', 39)
('KELT-9 b', 20)
('KELT-9 b', 33)
('KELT-9 b', 41)
('KELT-9 b', 42)
('KELT-9 b', 34)
('KOI-13 b', 1)
('L 98-59 d', 10)
('L 98-59 d', 27)
('LHS 1140 b', 1)
('LTT 9779 b', 1)
('LTT 9779 b', 22)
('LTT 9779 b', 15)
('MASCARA-1 b', 1)
('MASCARA-1 b', 30)
('MASCARA-1 b', 35)
('MASCARA-1 b', 3)
('MASCARA-1 b', 41)
('MASCARA-1 b', 29)
('MASCARA-2 b/KELT-20 b', 1)
('MASCARA-2 b/KELT-20 b', 7)
('MASCARA-2 b/KELT-20 b', 29)
('MASCARA-2 b/KELT-20 b', 30)
('MASCARA-2 b/KELT-20 b', 39)
('MASCARA-2 b/KELT-20 b', 20)
('MASCARA-2 b/KELT-20 b', 33)
('MASCARA-2 b/KELT-20 b', 42)
('MASCARA-2 b/KELT-20 b', 35)
('PDS 70 b', 1)
('PDS 70 b', 35)
('tau Boo A b', 1)
('tau Boo A b', 35)
('TOI-1136 d', 7)
('TOI-1259A b', 18)
('TOI-1268 b', 18)
('TOI-1420.01', 18)
('TOI-1430 b', 18)
('TOI-1430.01', 18)
('TOI-1431 b/MASCARA-5 b', 30)
('TOI-1431 b/MASCARA-5 b', 29)
('TOI-1518 b', 23)
('TOI-1518 b', 37)
('TOI-1518 b', 25)
('TOI-1518 b', 14)
('TOI-1518 b', 29)
('TOI-1518 b', 30)
('TOI-1518 b', 39)
('TOI-1518 b', 33)
('TOI-1518 b', 41)
('TOI-1518 b', 42)
('TOI-1683.01', 18)
('TOI-2018.01', 18)
('TOI-2076 b', 18)
('TOI-2134.01', 18)
('TOI-270 d', 1)
('TOI-270 d', 32)
('TOI-270 d', 15)
('TOI-5398 b', 18)
('TOI-5398 b', 7)
('TOI-5398 b', 33)
('TOI-674 b', 1)
('TOI-836 c', 18)
('TOI-942 c', 7)
('TYC 8998-760-1 b', 28)
('ups And b', 1)
('V 1298 Tau b', 1)
('VHS 1256-1257 b', 1)
('VHS 1256-1257 b', 32)
('VHS 1256-1257 b', 40)
('VHS 1256-1257 b', 33)
('VHS 1256-1257 b', 28)
('VHS 1256-1257 b', 42)
('VHS 1256-1257 b', 35)
('WASP-101 b', 26)
('WASP-103 b', 1)
('WASP-103 b', 22)
('WASP-103 b', 3)
('WASP-103 b', 23)
('WASP-103 b', 38)
('WASP-103 b', 34)
('WASP-104 b', 9)
('WASP-107 b', 1)
('WASP-107 b', 26)
('WASP-107 b', 15)
('WASP-107 b', 27)
('WASP-107 b', 17)
('WASP-107 b', 18)
('WASP-107 b', 32)
('WASP-107 b', 35)
('WASP-117 b', 1)
('WASP-12 b', 1)
('WASP-12 b', 33)
('WASP-12 b', 15)
('WASP-12 b', 7)
('WASP-121 b', 1)
('WASP-121 b', 23)
('WASP-121 b', 26)
('WASP-121 b', 6)
('WASP-121 b', 7)
('WASP-121 b', 29)
('WASP-121 b', 30)
('WASP-121 b', 33)
('WASP-121 b', 34)
('WASP-121 b', 35)
('WASP-121 b', 12)
('WASP-121 b', 37)
('WASP-121 b', 38)
('WASP-121 b', 14)
('WASP-121 b', 39)
('WASP-121 b', 20)
('WASP-121 b', 40)
('WASP-127 b', 1)
('WASP-127 b', 22)
('WASP-127 b', 26)
('WASP-127 b', 6)
('WASP-127 b', 9)
('WASP-127 b', 40)
('WASP-127 b', 12)
('WASP-127 b', 33)
('WASP-127 b', 35)
('WASP-15 b', 1)
('WASP-15 b', 15)
('WASP-15 b', 35)
('WASP-166 b', 33)
('WASP-17 b', 1)
('WASP-17 b', 4)
('WASP-17 b', 15)
('WASP-17 b', 27)
('WASP-17 b', 40)
('WASP-17 b', 33)
('WASP-17 b', 21)
('WASP-17 b', 34)
('WASP-172 b', 30)
('WASP-172 b', 33)
('WASP-172 b', 7)
('WASP-178 b', 1)
('WASP-178 b', 30)
('WASP-178 b', 9)
('WASP-178 b', 39)
('WASP-178 b', 33)
('WASP-178 b', 7)
('WASP-178 b', 35)
('WASP-18 b', 1)
('WASP-18 b', 12)
('WASP-18 b', 34)
('WASP-18 b', 35)
('WASP-189 b', 37)
('WASP-189 b', 25)
('WASP-189 b', 38)
('WASP-189 b', 14)
('WASP-189 b', 7)
('WASP-189 b', 29)
('WASP-189 b', 8)
('WASP-189 b', 30)
('WASP-189 b', 39)
('WASP-189 b', 20)
('WASP-189 b', 33)
('WASP-189 b', 41)
('WASP-189 b', 35)
('WASP-19 b', 1)
('WASP-19 b', 38)
('WASP-20 A b', 1)
('WASP-21 b', 33)
('WASP-31 b', 31)
('WASP-33 b', 1)
('WASP-33 b', 3)
('WASP-33 b', 4)
('WASP-33 b', 14)
('WASP-33 b', 38)
('WASP-33 b', 7)
('WASP-33 b', 30)
('WASP-33 b', 12)
('WASP-33 b', 41)
('WASP-33 b', 42)
('WASP-33 b', 34)
('WASP-33 b', 35)
('WASP-39 b', 1)
('WASP-39 b', 3)
('WASP-39 b', 15)
('WASP-39 b', 27)
('WASP-39 b', 26)
('WASP-39 b', 40)
('WASP-39 b', 33)
('WASP-39 b', 35)
('WASP-43 b', 1)
('WASP-43 b', 17)
('WASP-43 b', 4)
('WASP-43 b', 3)
('WASP-43 b', 15)
('WASP-43 b', 26)
('WASP-43 b', 35)
('WASP-49 A b', 33)
('WASP-52 b', 1)
('WASP-52 b', 18)
('WASP-52 b', 40)
('WASP-52 b', 33)
('WASP-52 b', 7)
('WASP-6 b', 40)
('WASP-6 b', 33)
('WASP-6 b', 1)
('WASP-62 b', 1)
('WASP-62 b', 22)
('WASP-62 b', 33)
('WASP-63 b', 1)
('WASP-69 b', 1)
('WASP-69 b', 38)
('WASP-69 b', 15)
('WASP-69 b', 26)
('WASP-69 b', 17)
('WASP-69 b', 18)
('WASP-69 b', 9)
('WASP-69 b', 32)
('WASP-69 b', 33)
('WASP-69 b', 35)
('WASP-7 b', 33)
('WASP-74 b', 1)
('WASP-74 b', 9)
('WASP-74 b', 32)
('WASP-76 b', 1)
('WASP-76 b', 23)
('WASP-76 b', 25)
('WASP-76 b', 26)
('WASP-76 b', 6)
('WASP-76 b', 8)
('WASP-76 b', 29)
('WASP-76 b', 7)
('WASP-76 b', 30)
('WASP-76 b', 33)
('WASP-76 b', 11)
('WASP-76 b', 35)
('WASP-76 b', 12)
('WASP-76 b', 37)
('WASP-76 b', 14)
('WASP-76 b', 38)
('WASP-76 b', 39)
('WASP-76 b', 20)
('WASP-76 b', 40)
('WASP-77 A b', 1)
('WASP-77 A b', 13)
('WASP-77 A b', 3)
('WASP-77 A b', 38)
('WASP-77 A b', 15)
('WASP-77 A b', 19)
('WASP-77 A b', 32)
('WASP-77 A b', 35)
('WASP-79 b', 1)
('WASP-79 b', 22)
('WASP-79 b', 9)
('WASP-79 b', 33)
('WASP-79 b', 34)
('WASP-80 b', 1)
('WASP-80 b', 17)
('WASP-80 b', 9)
('WASP-80 b', 32)
('WASP-80 b', 11)
('WASP-85 A b', 6)
('WASP-85 A b', 7)
('WASP-94 A b', 33)
('WASP-94 A b', 9)
('WASP-96 b', 1)
('WASP-96 b', 3)
('WASP-96 b', 15)
('WASP-96 b', 19)
('WASP-96 b', 9)
('WASP-96 b', 40)
('WASP-96 b', 33)
('XO-1 b', 1)
('XO-2N b', 40)
('XO-2N b', 33)

In [287]:
instruments = set()
planet_observed_by = {}

for i in range(len(df['observation_type'])):
    input_string = df['observation_type'][i]
    
    # Extract observation type from the string
    match = re.match(r'^"(.*)"$', input_string)
    if match:
        obs_i = match.group(1)  # Extract the matched observation type
        
        # Ensure obs_i is a set for the union operation
        obs_i_set = {obs_i}
        
        # Add observations to the planet_observed_by dictionary
        if df['pl_name'][i] in planet_observed_by:
            planet_observed_by[df['pl_name'][i]] = planet_observed_by[df['pl_name'][i]].union(obs_i_set)
        else:
            planet_observed_by[df['pl_name'][i]] = obs_i_set
        
        # Add to the global instruments set
        instruments = instruments.union(obs_i_set)

In [288]:
import sqlite3

connection = sqlite3.connect("../test.db")
create_database_schema(connection)

cursor = connection.cursor()
# Convert the set into a list of tuples
instrument_tuples = [(name,) for name in instruments]

# Insert the molecules into the table
cursor.executemany('''
INSERT INTO instrument (name) VALUES (?)
''', instrument_tuples)

# Commit the changes and close the connection
connection.commit()
print(f"{cursor.rowcount} rows inserted.")
connection.close()

16 rows inserted.

In [289]:
connection = sqlite3.connect("../test.db")
cursor = connection.cursor()

# Add planet-molecule mappings
add_planet_instruments(connection, planet_observed_by)

# Query the planet_has_molecule table to verify
cursor.execute('''
SELECT * FROM planet_characterized_by
''')
rows = cursor.fetchall()
for row in rows:
    print(row)

# Close the connection
connection.close()

('2M 0103-55 (AB) b', 14)
('2M0437 b', 10)
('51 Eri b', 10)
('51 Peg b', 10)
('51 Peg b', 16)
('51 Peg b', 14)
('55 Cnc b', 12)
('55 Cnc e', 10)
('55 Cnc e', 5)
('55 Cnc e', 6)
('55 Cnc e', 7)
('55 Cnc e', 14)
('55 Cnc e', 9)
('55 Cnc e', 16)
('AU Mic b', 10)
('AU Mic b', 12)
('AU Mic b', 8)
('AU Mic b', 14)
('beta Pic b', 10)
('CI Tau b', 10)
('CoRoT-1 b', 3)
('CoRoT-1 b', 7)
('CoRoT-2 b', 16)
('DS Tuc A b', 14)
('GJ 1132 b', 4)
('GJ 1132 b', 3)
('GJ 1132 b', 6)
('GJ 1132 b', 7)
('GJ 1214 b', 10)
('GJ 1214 b', 6)
('GJ 1214 b', 4)
('GJ 1214 b', 7)
('GJ 1214 b', 3)
('GJ 1214 b', 15)
('GJ 1252 b', 16)
('GJ 3470 b', 10)
('GJ 3470 b', 12)
('GJ 3470 b', 3)
('GJ 3470 b', 9)
('GJ 367 b', 6)
('GJ 436 b', 10)
('GJ 436 b', 12)
('GJ 436 b', 14)
('GJ 486 b', 10)
('GJ 486 b', 4)
('GJ 486 b', 6)
('GJ 9827 b', 10)
('GJ 9827 d', 10)
('GJ 9827 d', 15)
('GJ 9827 d', 7)
('GJ 9827 d', 1)
('HAT-P-1 b', 12)
('HAT-P-1 b', 3)
('HAT-P-1 b', 7)
('HAT-P-10 A b', 10)
('HAT-P-11 b', 10)
('HAT-P-11 b', 12)
('HAT-P-11 b', 7)
('HAT-P-12 b', 12)
('HAT-P-12 b', 3)
('HAT-P-12 b', 7)
('HAT-P-13 b', 16)
('HAT-P-14 b', 4)
('HAT-P-18 b', 1)
('HAT-P-18 b', 7)
('HAT-P-18 b', 3)
('HAT-P-18 b', 15)
('HAT-P-19 b', 3)
('HAT-P-19 b', 16)
('HAT-P-2 b', 7)
('HAT-P-2 b', 14)
('HAT-P-23 b', 3)
('HAT-P-23 b', 16)
('HAT-P-26 b', 3)
('HAT-P-26 b', 15)
('HAT-P-26 b', 7)
('HAT-P-3 b', 10)
('HAT-P-30 b', 2)
('HAT-P-32 b', 10)
('HAT-P-32 b', 12)
('HAT-P-32 b', 7)
('HAT-P-32 b', 3)
('HAT-P-33 b', 10)
('HAT-P-4 b', 16)
('HAT-P-41 b', 3)
('HAT-P-41 b', 7)
('HAT-P-49 b', 10)
('HAT-P-55 b', 3)
('HAT-P-57 b', 10)
('HAT-P-57 b', 3)
('HAT-P-57 b', 14)
('HAT-P-6 b', 16)
('HAT-P-65 b', 3)
('HAT-P-67 b', 10)
('HAT-P-67 b', 14)
('HAT-P-7 b', 2)
('HAT-P-7 b', 7)
('HAT-P-7 b', 16)
('HAT-P-70 b', 14)
('HAT-P-8 b', 16)
('HATS-46 b', 3)
('HATS-5 b', 3)
('HD 102195 b', 10)
('HD 106315 c', 7)
('HD 106315 c', 14)
('HD 143105 b', 10)
('HD 149026 b', 10)
('HD 149026 b', 11)
('HD 149026 b', 14)
('HD 149026 b', 9)
('HD 179949 b', 10)
('HD 189733 b', 5)
('HD 189733 b', 6)
('HD 189733 b', 7)
('HD 189733 b', 8)
('HD 189733 b', 3)
('HD 189733 b', 9)
('HD 189733 b', 10)
('HD 189733 b', 13)
('HD 189733 b', 12)
('HD 189733 b', 4)
('HD 189733 b', 14)
('HD 189733 b', 16)
('HD 202772 A b', 16)
('HD 209458 b', 8)
('HD 209458 b', 7)
('HD 209458 b', 3)
('HD 209458 b', 9)
('HD 209458 b', 10)
('HD 209458 b', 12)
('HD 209458 b', 14)
('HD 209458 b', 16)
('HD 3167 c', 7)
('HD 63433 b', 10)
('HD 63433 b', 12)
('HD 63433 b', 14)
('HD 63433 b', 15)
('HD 63433 c', 10)
('HD 63433 c', 12)
('HD 63433 c', 15)
('HD 63433 c', 14)
('HD 73583 b', 10)
('HD 73583 b', 14)
('HD 73583 c', 10)
('HD 73583 c', 14)
('HD 80606 b', 4)
('HD 85628 A b', 14)
('HD 89345 b', 10)
('HD 97658 b', 15)
('HIP 41378 f', 7)
('HIP 65426 b', 15)
('HIP 65A b', 10)
('HIP 65A b', 2)
('HIP 67522 b', 4)
('HIP 94235 b', 12)
('HR 8799 b', 10)
('HR 8799 b', 11)
('HR 8799 b', 15)
('HR 8799 c', 10)
('HR 8799 c', 15)
('HR 8799 d', 10)
('HR 8799 d', 15)
('HR 8799 e', 10)
('HR 8799 e', 15)
('K2-100 b', 10)
('K2-100 b', 15)
('K2-100 b', 14)
('K2-105 b', 10)
('K2-136 c', 10)
('K2-139 b', 14)
('K2-141 b', 16)
('K2-18 b', 10)
('K2-18 b', 7)
('K2-18 b', 1)
('K2-25 b', 10)
('K2-25 b', 12)
('K2-33 b', 10)
('K2-33 b', 15)
('K2-77 b', 10)
('K2-77 b', 14)
('KELT-1 b', 2)
('KELT-1 b', 7)
('KELT-1 b', 16)
('KELT-10 b', 14)
('KELT-11 b', 7)
('KELT-11 b', 14)
('KELT-16 b', 2)
('KELT-16 b', 3)
('KELT-16 b', 16)
('KELT-2 A b', 10)
('KELT-3 b', 14)
('KELT-7 b', 7)
('KELT-7 b', 14)
('KELT-9 b', 10)
('KELT-9 b', 7)
('KELT-9 b', 14)
('KELT-9 b', 3)
('KELT-9 b', 16)
('Kepler-25 c', 10)
('Kepler-5 b', 16)
('Kepler-51 b', 7)
('Kepler-51 d', 7)
('Kepler-6 b', 16)
('Kepler-62 e', 3)
('Kepler-68 b', 10)
('KOI-13 b', 2)
('KOI-13 b', 7)
('L 168-9 b', 6)
('L 168-9 b', 4)
('L 98-59 b', 4)
('L 98-59 b', 7)
('L 98-59 c', 7)
('L 98-59 d', 4)
('L 98-59 d', 7)
('LHS 1140 b', 1)
('LHS 1140 b', 4)
('LHS 1140 b', 7)
('LHS 1478 b', 6)
('LHS 3844 b', 3)
('LHS 3844 b', 16)
('LTT 1445A b', 3)
('LTT 1445A b', 6)
('LTT 1445A b', 7)
('LTT 3780 c', 10)
('LTT 9779 b', 1)
('LTT 9779 b', 10)
('LTT 9779 b', 7)
('LTT 9779 b', 16)
('MASCARA-1 b', 10)
('MASCARA-1 b', 16)
('MASCARA-1 b', 14)
('MASCARA-2 b/KELT-20 b', 10)
('MASCARA-2 b/KELT-20 b', 5)
('MASCARA-2 b/KELT-20 b', 7)
('MASCARA-2 b/KELT-20 b', 14)
('MASCARA-2 b/KELT-20 b', 2)
('MASCARA-2 b/KELT-20 b', 16)
('NGTS-5 b', 15)
('NLTT 5306 b', 7)
('PDS 70 b', 10)
('PDS 70 b', 15)
('pi Men c', 12)
('Qatar-1 b', 3)
('Qatar-1 b', 16)
('Qatar-2 b', 16)
('tau Boo A b', 10)
('TOI-1136 d', 10)
('TOI-1136 d', 14)
('TOI-1235 b', 10)
('TOI-1259A b', 10)
('TOI-1268 b', 10)
('TOI-1268 b', 15)
('TOI-1420.01', 15)
('TOI-1430 b', 10)
('TOI-1430.01', 10)
('TOI-1431 b/MASCARA-5 b', 10)
('TOI-1431 b/MASCARA-5 b', 14)
('TOI-1518 b', 14)
('TOI-1683 b', 10)
('TOI-1683.01', 10)
('TOI-1685 b', 4)
('TOI-1728 b', 10)
('TOI-1807 b', 10)
('TOI-1807 b', 14)
('TOI-2018.01', 10)
('TOI-2018.01', 14)
('TOI-2046 b', 10)
('TOI-2046 b', 14)
('TOI-2048 b', 10)
('TOI-2048 b', 14)
('TOI-2076 b', 10)
('TOI-2076 b', 14)
('TOI-2134.01', 10)
('TOI-2136 b', 10)
('TOI-270 d', 4)
('TOI-270 d', 7)
('TOI-3362 b', 14)
('TOI-3757 b', 10)
('TOI-4481.01', 10)
('TOI-503 b', 2)
('TOI-5398 b', 10)
('TOI-674 b', 7)
('TOI-677 b', 14)
('TOI-741.01', 9)
('TOI-764.01', 2)
('TOI-824 b', 16)
('TOI-836 b', 10)
('TOI-836 b', 4)
('TOI-836 c', 10)
('TOI-836 c', 4)
('TOI-910.01', 4)
('TOI-942 c', 14)
('TRAPPIST-1 b', 10)
('TRAPPIST-1 b', 6)
('TRAPPIST-1 b', 1)
('TRAPPIST-1 c', 1)
('TRAPPIST-1 c', 6)
('TRAPPIST-1 e', 10)
('TRAPPIST-1 f', 10)
('TRAPPIST-1 g', 7)
('TRAPPIST-1 h', 7)
('TrES-1 b', 16)
('TrES-2 A b', 13)
('TrES-2 A b', 16)
('TrES-3 b', 3)
('TrES-3 b', 16)
('TrES-4 b', 3)
('TYC 8998-760-1 b', 10)
('ups And b', 10)
('V 1298 Tau b', 10)
('V 1298 Tau b', 7)
('V 1298 Tau c', 10)
('V 1298 Tau c', 7)
('V 1298 Tau c', 8)
('V 1298 Tau c', 14)
('V 1298 Tau d', 10)
('VHS 1256-1257 b', 6)
('VHS 1256-1257 b', 4)
('WASP-10 b', 3)
('WASP-100 b', 2)
('WASP-101 b', 12)
('WASP-101 b', 7)
('WASP-101 b', 14)
('WASP-103 b', 13)
('WASP-103 b', 7)
('WASP-103 b', 14)
('WASP-103 b', 3)
('WASP-103 b', 15)
('WASP-103 b', 16)
('WASP-104 b', 3)
('WASP-105 b', 14)
('WASP-106 b', 14)
('WASP-107 b', 10)
('WASP-107 b', 6)
('WASP-107 b', 7)
('WASP-107 b', 9)
('WASP-111 b', 2)
('WASP-117 b', 7)
('WASP-12 b', 12)
('WASP-12 b', 7)
('WASP-12 b', 14)
('WASP-12 b', 2)
('WASP-12 b', 16)
('WASP-120 b', 14)
('WASP-121 b', 7)
('WASP-121 b', 2)
('WASP-121 b', 3)
('WASP-121 b', 10)
('WASP-121 b', 4)
('WASP-121 b', 12)
('WASP-121 b', 14)
('WASP-121 b', 16)
('WASP-122 b', 2)
('WASP-122 b', 16)
('WASP-122 b', 14)
('WASP-124 b', 3)
('WASP-127 b', 10)
('WASP-127 b', 7)
('WASP-127 b', 14)
('WASP-127 b', 3)
('WASP-130 b', 14)
('WASP-131 b', 14)
('WASP-14 b', 16)
('WASP-140 b', 16)
('WASP-15 b', 4)
('WASP-156 b', 3)
('WASP-166 b', 14)
('WASP-167 b', 2)
('WASP-17 b', 1)
('WASP-17 b', 12)
('WASP-17 b', 6)
('WASP-17 b', 7)
('WASP-17 b', 3)
('WASP-172 b', 14)
('WASP-177 b', 10)
('WASP-177 b', 15)
('WASP-178 b', 10)
('WASP-178 b', 13)
('WASP-178 b', 5)
('WASP-178 b', 14)
('WASP-18 b', 10)
('WASP-18 b', 1)
('WASP-18 b', 7)
('WASP-18 b', 2)
('WASP-18 b', 16)
('WASP-189 b', 10)
('WASP-189 b', 5)
('WASP-189 b', 12)
('WASP-189 b', 14)
('WASP-19 b', 12)
('WASP-19 b', 7)
('WASP-19 b', 14)
('WASP-19 b', 2)
('WASP-19 b', 3)
('WASP-19 b', 16)
('WASP-2 A b', 3)
('WASP-20 A b', 10)
('WASP-21 b', 3)
('WASP-21 b', 14)
('WASP-24 b', 16)
('WASP-25 b', 3)
('WASP-26 b', 16)
('WASP-29 b', 7)
('WASP-3 b', 5)
('WASP-31 b', 14)
('WASP-32 b', 3)
('WASP-33 b', 10)
('WASP-33 b', 7)
('WASP-33 b', 14)
('WASP-33 b', 3)
('WASP-33 b', 16)
('WASP-34 b', 16)
('WASP-36 b', 2)
('WASP-36 b', 3)
('WASP-39 b', 1)
('WASP-39 b', 6)
('WASP-39 b', 7)
('WASP-39 b', 3)
('WASP-39 b', 9)
('WASP-39 b', 10)
('WASP-39 b', 12)
('WASP-39 b', 4)
('WASP-4 b', 3)
('WASP-4 b', 7)
('WASP-4 b', 16)
('WASP-43 b', 10)
('WASP-43 b', 5)
('WASP-43 b', 4)
('WASP-43 b', 6)
('WASP-43 b', 7)
('WASP-43 b', 2)
('WASP-43 b', 3)
('WASP-43 b', 16)
('WASP-45 b', 3)
('WASP-46 b', 3)
('WASP-47 d', 10)
('WASP-48 b', 10)
('WASP-49 A b', 3)
('WASP-49 A b', 14)
('WASP-5 b', 15)
('WASP-50 b', 2)
('WASP-52 b', 10)
('WASP-52 b', 12)
('WASP-52 b', 7)
('WASP-52 b', 14)
('WASP-52 b', 3)
('WASP-52 b', 15)
('WASP-52 b', 16)
('WASP-57 b', 3)
('WASP-6 b', 3)
('WASP-62 b', 12)
('WASP-62 b', 7)
('WASP-63 b', 7)
('WASP-67 b', 3)
('WASP-67 b', 16)
('WASP-69 b', 10)
('WASP-69 b', 7)
('WASP-69 b', 14)
('WASP-69 b', 3)
('WASP-69 b', 9)
('WASP-69 b', 15)
('WASP-7 b', 14)
('WASP-72 b', 2)
('WASP-74 b', 12)
('WASP-74 b', 3)
('WASP-74 b', 7)
('WASP-74 b', 16)
('WASP-76 b', 10)
('WASP-76 b', 7)
('WASP-76 b', 14)
('WASP-76 b', 16)
('WASP-77 A b', 10)
('WASP-77 A b', 4)
('WASP-77 A b', 7)
('WASP-77 A b', 14)
('WASP-77 A b', 16)
('WASP-79 b', 12)
('WASP-79 b', 7)
('WASP-79 b', 14)
('WASP-8 b', 16)
('WASP-80 b', 10)
('WASP-80 b', 7)
('WASP-80 b', 14)
('WASP-80 b', 9)
('WASP-80 b', 15)
('WASP-85 A b', 14)
('WASP-88 b', 3)
('WASP-94 A b', 3)
('WASP-94 A b', 14)
('WASP-96 b', 1)
('WASP-96 b', 3)
('WASP-96 b', 7)
('WASP-98 b', 3)
('WD 1856+534 b', 3)
('XO-1 b', 3)
('XO-1 b', 7)
('XO-2N b', 13)
('XO-2N b', 3)
('XO-2N b', 16)
('XO-3 b', 16)
('XO-4 b', 16)

In [32]:
ids['ID'][10]

'TOI-270'

In [35]:
def add_host_ids(connection, primary_id, alternate_ids,primary_id_column='primary_id', alternate_id_column='alternate_id'):
    cursor = connection.cursor()
    # Iterate over each row in the DataFrame
    if alternate_ids:
        for i in range(len(alternate_ids)):
            alternate_id = alternate_ids['ID'][i]
            # # Ensure the primary_id exists in the system table
            # cursor.execute('''
            # INSERT OR IGNORE INTO system (sys_name) VALUES (?)
            # ''', (primary_id,))
    
            # Insert into the host_ids table
            cursor.execute('''
            INSERT OR IGNORE INTO host_ids (primary_id, alternate_id)
            VALUES (?, ?)
            ''', (primary_id, alternate_id))
    
        # Commit changes to the database
    connection.commit()

In [36]:
df = pd.read_csv('../preprocessed_data/planet_and_system.csv')
hosts = list(set(df['hostname']))
connection = sqlite3.connect("../test.db")
create_database_schema(connection)

for ind in range(len(hosts)):
    ids = Simbad.query_objectids(hosts[ind])
    add_host_ids(connection, hosts[ind], ids)
connection.close()

WARNING: BlankResponseWarning: Warning: The script line number 2 raised an error (recorded in the `errors` attribute of the result table): 'nan': No known catalog could be found [astroquery.simbad.core]
WARNING: BlankResponseWarning: Warning: The script line number 2 raised an error (recorded in the `errors` attribute of the result table): 'DS Tuc A': No known catalog could be found [astroquery.simbad.core]
WARNING: BlankResponseWarning: Warning: The script line number 2 raised an error (recorded in the `errors` attribute of the result table): 'Qatar-2' this identifier has an incorrect format for catalog: 	Qatar : Qatar [astroquery.simbad.core]

In [116]:
from astropy.io.votable import parse

# Specify the path to your VOTable file
votable_path = "../original data/brewer_abundance.vot"

# Parse the VOTable file
votable = parse(votable_path)

# Access the first table in the VOTable
table = votable.get_first_table()

original_column_names = [field.name for field in table.fields]


# Convert the table to an Astropy Table for easier manipulation
from astropy.table import Table
astropy_table = Table(table.array)

# Rename the columns in the Astropy Table
for old_name, new_name in zip(astropy_table.colnames, original_column_names):
    astropy_table.rename_column(old_name, new_name)

# Print the updated table with original column names
print(astropy_table)

# Convert to Pandas DataFrame
df = astropy_table.to_pandas()

WARNING: UnitsWarning: Unit 'Sun' not supported by the VOUnit standard. Did you mean uN? [astropy.units.format.vounit]

SPOCS    Name    Teff log(g) [M/H] S/N [C/H] [N/H] [O/H] [Na/H] [Mg/H] [Al/H] [Si/H] [Ca/H] [Ti/H] [V/H] [Cr/H] [Mn/H] ... e_vsini e_[C/H] e_[N/H] e_[O/H] e_[Na/H] e_[Mg/H] e_[Al/H] e_[Si/H] e_[Ca/H] e_[Ti/H] e_[V/H] e_[Cr/H] e_[Mn/H] e_[Fe/H] e_[Ni/H] e_[Y/H] CKS recno
----- ---------- ---- ------ ----- --- ----- ----- ----- ------ ------ ------ ------ ------ ------ ----- ------ ------ ... ------- ------- ------- ------- -------- -------- -------- -------- -------- -------- ------- -------- -------- -------- -------- ------- --- -----
 2281   KOI-3248 5742   4.34 -0.07  50 -0.06 -0.04 -0.05  -0.17  -0.07   0.03  -0.04  -0.06  -0.06 -0.16  -0.06  -0.12 ...     0.5    0.03    0.08    0.06     0.03     0.02     0.04     0.02     0.02     0.02    0.04     0.02     0.03     0.02     0.02    0.04   3     1
 2361   KOI-4273 6123   4.11  0.14  46  0.07 -0.02  0.18   0.14   0.11   0.13   0.08   0.24   0.25 -0.06   0.18   0.01 ...     0.5    0.04    0.08    0.06     0.03     0.02     0.04     0.02     0.03     0.02    0.04     0.02     0.03     0.02     0.02    0.04   3     2
 2393   KOI-3605 5252   4.39  0.05  51  0.01  0.08 -0.03   0.17   0.05   0.09   0.09   0.09   0.09   0.1    0.1   0.03 ...     0.5    0.03    0.07    0.06     0.03     0.02     0.04     0.02     0.02     0.02    0.04     0.02     0.03     0.02     0.02    0.04   0     3
 2405   KOI-3197 6218   4.43 -0.02  48 -0.03 -0.04 -0.02  -0.08  -0.01  -0.21  -0.04   0.03    0.0  0.03   0.03   -0.2 ...     0.5    0.03    0.08    0.06     0.03     0.02     0.04     0.02     0.03     0.02    0.04     0.02     0.03     0.02     0.02    0.04   2     4
 2430   KOI-1353 5951   4.46 -0.02  47 -0.04  0.03   0.0  -0.14  -0.06  -0.01  -0.04   0.08  -0.01 -0.15   0.01   -0.1 ...     0.5    0.03    0.08    0.06     0.03     0.02     0.04     0.02     0.03     0.02    0.04     0.02     0.03     0.02     0.02    0.04   3     5
 2435   KOI-4323 6314   4.22 -0.03  41  0.03  0.62  0.05  -0.05  -0.04  -0.02  -0.07   0.02    0.1 -0.58   0.03  -0.17 ...     0.5    0.04    0.09    0.07     0.03     0.02     0.05     0.02     0.03     0.02    0.05     0.02     0.03     0.02     0.02    0.04   3     6
 2445   KOI-3384 5994   4.24  0.07  50  0.01  0.16  0.04   0.08   0.06   0.08   0.07   0.12   0.05 -0.03   0.07  -0.01 ...     0.5    0.03    0.08    0.06     0.03     0.02     0.04     0.02     0.02     0.02    0.04     0.02     0.03     0.02     0.02    0.04   3     7
 2460   KOI-4409 5872   4.26  0.21  52  0.16  0.36  0.23   0.31   0.18    0.2   0.26   0.21   0.21  0.28   0.19   0.29 ...     0.5    0.03    0.07    0.06     0.03     0.02     0.04     0.02     0.02     0.02    0.04     0.02     0.03     0.02     0.02    0.04   3     8
 2464   KOI-4226 5817   4.02  0.37  43  0.32  0.43  0.43   0.55   0.32   0.41   0.31   0.31   0.37  0.29    0.4   0.53 ...     0.5    0.04    0.09    0.06     0.03     0.02     0.05     0.02     0.03     0.02    0.05     0.02     0.03     0.02     0.02    0.04   2     9
 2485      K2-58 5038    4.5  0.19  94  0.17  0.09  0.14   0.21   0.16    0.2   0.23   0.24   0.21  0.22   0.24   0.27 ...     0.5    0.03    0.05    0.04     0.02     0.01     0.03     0.01     0.02     0.01    0.04     0.02     0.02     0.01     0.01    0.03   0    10
 2914       XO-1 5731   4.51 -0.07 112 -0.09 -0.31 -0.04  -0.22  -0.05  -0.06  -0.08  -0.05  -0.04 -0.02  -0.08  -0.19 ...     0.5    0.03    0.04    0.04     0.01     0.01     0.03     0.01     0.01     0.01    0.03     0.01     0.02     0.01     0.01    0.03   0    11
 2962     TRES-4 6198   4.09  0.25  77  0.15  0.42  0.44   0.28   0.19   0.23   0.25   0.31   0.33  0.13   0.29   0.23 ...     0.5    0.03    0.06    0.05     0.02     0.02     0.03     0.01     0.02     0.02    0.04     0.02     0.02     0.01     0.02    0.04   0    12
 2980    KOI-104 4718    4.5  0.32  58  0.19  0.46   0.1    0.7    0.3   0.51   0.36   0.39   0.36   0.3   0.31   0.43 ...     0.5    0.03    0.07    0.05     0.03     0.02     0.04     0.02     0.02     0.02    0.04     0.02     0.03     0.01     0.02    0.04   3    13
 2981    KOI-263 5821   4.15 -0.13  42 -0.14 -0.19 -0.09  -0.14  -0.14  -0.11   -0.2  -0.09  -0.05 -0.17  -0.15  -0.15 ...     0.5    0.04    0.09    0.07     0.03     0.02     0.05     0.02     0.03     0.02    0.05     0.02     0.03     0.02     0.02    0.04   2    14
 2982     KOI-10 6155   4.12 -0.07  48 -0.05  0.06  0.17  -0.15  -0.11  -0.29   0.01   0.03   0.01 -0.07  -0.03  -0.31 ...     0.5    0.03    0.08    0.06     0.03     0.02     0.04     0.02     0.02     0.02    0.04     0.02     0.03     0.02     0.02    0.04   3    15
 2983     KOI-82 4811   4.56  0.08  54  0.22 -0.16  0.21   0.12   0.11    0.1    0.1   0.14   0.11   0.1    0.1   0.06 ...     0.5    0.03    0.07    0.06     0.03     0.02     0.04     0.02     0.02     0.02    0.04     0.02     0.03     0.01     0.02    0.04   6    16
 2986    KOI-274 6119   4.12   0.0  47 -0.05  -0.1  0.13  -0.01  -0.02   0.07  -0.04   0.02    0.1 -0.08   0.07  -0.16 ...     0.5    0.03    0.08    0.06     0.03     0.02     0.04     0.02     0.03     0.02    0.04     0.02     0.03     0.02     0.02    0.04   4    17
 2987     KOI-22 5836   4.21  0.17  48   0.1  0.03  0.14   0.21   0.15   0.18   0.17   0.17   0.16  0.11   0.18   0.19 ...     0.5    0.03    0.08    0.06     0.03     0.02     0.04     0.02     0.02     0.02    0.04     0.02     0.03     0.02     0.02    0.04   3    18
 2988     KOI-42 6310   4.21  0.02  48  0.07 -0.17  0.19  -0.01  -0.01  -0.05   0.06   0.09   0.08 -0.12   0.07  -0.11 ...     0.5    0.03    0.08    0.06     0.03     0.02     0.04     0.02     0.02     0.02    0.04     0.02     0.03     0.02     0.02    0.04   3    19
 2989    KOI-701 4838   4.53 -0.31  52 -0.34  -0.6 -0.34  -0.41  -0.28  -0.29   -0.3  -0.29  -0.27 -0.29  -0.37   -0.5 ...     0.5    0.03    0.07    0.06     0.03     0.02     0.04     0.02     0.02     0.02    0.04     0.02     0.03     0.02     0.02    0.04   5    20
 2997    KOI-245 5400   4.59 -0.28  51 -0.29 -0.21  -0.1  -0.36  -0.25  -0.23  -0.29  -0.25  -0.24 -0.24  -0.29  -0.37 ...     0.5    0.03    0.08    0.06     0.03     0.02     0.04     0.02     0.02     0.02    0.04     0.02     0.03     0.02     0.02    0.04   5    21
  ...        ...  ...    ...   ... ...   ...   ...   ...    ...    ...    ...    ...    ...    ...   ...    ...    ... ...     ...     ...     ...     ...      ...      ...      ...      ...      ...      ...     ...      ...      ...      ...      ...     ... ...   ...
 4298   KOI-2541 4976   3.62  0.09  53 -0.02  0.07  0.04   0.01   0.06   0.14  -0.03   0.05   0.09  0.03   0.09   0.13 ...     0.5    0.03    0.07    0.06     0.03     0.02     0.04     0.02     0.02     0.02    0.04     0.02     0.03     0.02     0.02    0.04   2  1128
 4299   KOI-2059 4886   4.39 -0.06  54  0.06 -0.07  0.09   0.19  -0.08   0.05   0.04   0.12   0.01  0.03  -0.04   0.01 ...     0.5    0.03    0.07    0.06     0.03     0.02     0.04     0.02     0.02     0.02    0.04     0.02     0.03     0.01     0.02    0.04   0  1129
 4300    KOI-375 5732   4.02  0.15  49  0.09  0.22  0.27   0.15   0.13   0.19   0.11   0.18   0.14  0.08   0.15   0.14 ...     0.5    0.03    0.08    0.06     0.03     0.02     0.04     0.02     0.02     0.02    0.04     0.02     0.03     0.02     0.02    0.04   2  1130
 4301   KOI-1474 6350   4.12  0.18  98  0.05  0.45  0.37   0.25   0.14   0.15   0.22   0.29   0.29  0.05   0.23   0.13 ...     0.5    0.03    0.05    0.04     0.02     0.01     0.03     0.01     0.02     0.01    0.04     0.02     0.02     0.01     0.01    0.03   2  1131
 4302   KOI-3122 6067   3.92   0.2  47  0.16  0.08  0.32   0.16   0.13   0.03   0.16   0.28   0.25  0.07   0.28   0.11 ...     0.5    0.03    0.08    0.06     0.03     0.02     0.04     0.02     0.03     0.02    0.04     0.02     0.03     0.02     0.02    0.04   3  1132
 4303   KOI-3009 5031    4.5  0.11  26  0.12  0.08  0.11   0.17   0.09   0.16   0.13   0.19   0.16  0.05   0.15   0.18 ...     0.6    0.05    0.13    0.09     0.05     0.03     0.07     0.03     0.04     0.03    0.06     0.03     0.05     0.02     0.03    0.06   2  1133
 4304   KOI-4829 6003   4.21 -0.06  48 -0.04  0.33  0.08  -0.13  -0.07  -0.21  -0.07    0.0  -0.05 -0.06  -0.06  -0.22 ...     0.5    0.03    0.08    0.06     0.03     0.02     0.04     0.02     0.02     0.02    0.04     0.02     0.03     0.02     0.02    0.04   3  1134
 4305   KOI-2331 5813   4.16  0.06  48  0.05  0.11  0.11   0.12   0.05   0.11   0.07   0.09   0.03  0.06   0.06   0.08 ...     0.5    0.03    0.08    0.06     0.03     0.02     0.04     0.02     0.02     0.02    0.04     0.02     0.03     0.02     0.02    0.04   3  1135
 4306    KOI-361 5641    4.4  0.05  49  0.04  0.12  0.08   0.01   0.03   0.06    0.1   0.05   0.01  0.06   0.09   0.06 ...     0.5    0.03    0.08    0.06     0.03     0.02     0.04     0.02     0.02     0.02    0.04     0.02     0.03     0.02     0.02    0.04   3  1136
 4307   KOI-2463 6070   4.34  0.19  48  0.18  0.43  0.21   0.13   0.14   0.22   0.22   0.15   0.24  0.31   0.23    0.2 ...     0.5    0.03    0.08    0.06     0.03     0.02     0.04     0.02     0.02     0.02    0.04     0.02     0.03     0.02     0.02    0.04   2  1137
 4308    KOI-439 5342   4.32  0.25  51  0.29  0.27  0.32   0.37   0.23   0.31   0.26   0.24   0.26  0.25   0.27   0.31 ...     0.5    0.03    0.07    0.06     0.03     0.02     0.04     0.02     0.02     0.02    0.04     0.02     0.03     0.02     0.02    0.04   2  1138
 4309   KOI-4329 6148   4.15  0.12  50 -0.04  0.37  0.08   0.01   0.12   0.19   0.08   0.17   0.19  0.25   0.15   0.02 ...     0.5    0.03    0.08    0.06     0.03     0.02     0.04     0.02     0.02     0.02    0.04     0.02     0.03     0.02     0.02    0.04   3  1139
 4310   KOI-4605 5962   3.77   0.0  44 -0.06  0.14  0.15   -0.1  -0.04  -0.09  -0.03   0.09   0.03 -0.08   0.02  -0.13 ...     0.5    0.04    0.08    0.06     0.03     0.02     0.05     0.02     0.03     0.02    0.04     0.02     0.03     0.02     0.02    0.04   3  1140
 4311   KOI-4190 5547    4.0   0.2  42  0.13  0.15  0.01   0.28   0.19   0.22   0.17   0.25   0.22  0.19    0.2   0.23 ...     0.5    0.04    0.09    0.07     0.03     0.02     0.05     0.02     0.03     0.02    0.05     0.02     0.03     0.02     0.02    0.04   3  1141
 4312    KOI-548 5974   4.23 -0.07  47 -0.03  -0.1 -0.01   -0.2  -0.05  -0.18  -0.09  -0.03  -0.01 -0.09  -0.06  -0.31 ...     0.5    0.03    0.08    0.06     0.03     0.02     0.04     0.02     0.03     0.02    0.04     0.02     0.03     0.02     0.02    0.04   3  1142
 4313   KOI-3663 5717   4.57 -0.07  48 -0.07 -0.17 -0.06  -0.16  -0.06  -0.07  -0.08  -0.07  -0.03 -0.12  -0.03  -0.09 ...     0.5    0.03    0.08    0.06     0.03     0.02     0.04     0.02     0.02     0.02    0.04     0.02     0.03     0.02     0.02    0.04   2  1143
 4314   KOI-4245 5968   3.95   0.2  44  0.07  0.56  0.32   0.17   0.14   0.21   0.19   0.23    0.2  0.11   0.23   0.24 ...     0.5    0.04    0.08    0.06     0.03     0.02     0.05     0.02     0.03     0.02    0.04     0.02     0.03     0.02     0.02    0.04   2  1144
 4315 BD+52_277A 6748   4.13  0.11 216  -0.3  0.19   0.5   0.04   0.09  -0.25   0.16   0.21    0.2  0.05   0.14   -0.1 ...     0.5    0.03    0.04    0.04     0.01     0.01     0.03     0.01     0.01     0.01    0.03     0.01     0.02     0.01     0.01    0.03   0  1145
 4316  HD 239643 6091   4.26  0.03 244  0.03  0.07  0.15   0.01    0.0  -0.02   0.03   0.06   0.02  0.05   0.04  -0.04 ...     0.5    0.03    0.04    0.04     0.01     0.01     0.03     0.01     0.01     0.01    0.03     0.01     0.02     0.01     0.01    0.03   0  1146
 4317  HD 203802 6140   4.18  0.11 244 -0.01  0.27  0.19   0.01   0.08   0.09   0.11   0.13   0.18  0.24   0.13   0.01 ...     0.5    0.03    0.04    0.04     0.01     0.01     0.03     0.01     0.01     0.01    0.03     0.01     0.02     0.01     0.01    0.03   0  1147
 4318  HD 240051 5940   4.51  0.14 251   0.1  0.03  0.11   0.03   0.11   0.09   0.13   0.19   0.17  0.18   0.19   0.13 ...     0.5    0.03    0.04    0.04     0.01     0.01     0.03     0.01     0.01     0.01    0.03     0.01     0.02     0.01     0.01    0.03   0  1148
 4319  HD 215714 6409   4.26  0.12 243 -0.06  0.36  0.34   0.06   0.09  -0.27    0.2   0.19   0.19  0.02   0.17   0.06 ...     0.5    0.03    0.04    0.04     0.01     0.01     0.03     0.01     0.01     0.01    0.03     0.01     0.02     0.01     0.01    0.03   0  1149
Length = 1149 rows

In [52]:
df['StellarID']

0         KOI-3248
1         KOI-4273
2         KOI-3605
3         KOI-3197
4         KOI-1353
           ...
1144    BD+52_277A
1145     HD 239643
1146     HD 203802
1147     HD 240051
1148     HD 215714
Name: StellarID, Length: 1149, dtype: object

In [108]:
conn = sqlite3.connect("../test.db")
create_database_schema(connection)
cursor = conn.cursor()

try:
    cursor.execute("INSERT INTO abundance_surveys (Name) VALUES ('Brewer')")
    conn.commit()
except sqlite3.IntegrityError:
    print("Survey already exists.")

try:
    cursor.execute("INSERT INTO abundance_surveys (Name) VALUES ('APOGEE')")
    conn.commit()
except sqlite3.IntegrityError:
    print("Survey already exists.")

Survey already exists.
Survey already exists.

In [115]:
df.columns

Index(['host', 'apogee_id', 'ra_x', 'dec_x', 'ra_y', 'dec_y', 'glon', 'glat',
       'snr', 'extratarg', 'teff', 'teff_err', 'logg', 'logg_err', 'm_h',
       'm_h_err', 'fe_h', 'fe_h_err', 'o_fe', 'o_fe_err', 'na_fe', 'na_fe_err',
       'mg_fe', 'mg_fe_err', 'al_fe', 'al_fe_err', 'k_fe', 'k_fe_err', 'co_fe',
       'co_fe_err'],
      dtype='object')

In [118]:
# Assume 'df' is your DataFrame loaded with Brewer data
df.rename(columns={
    'Name': 'StellarID',
    'Teff': 'Teff',
    'log(g)': 'log_g',
    '[M/H]': 'M_H',
    'S/N': 'SN',
    'Mass': 'Mass',
    'b_Mass': 'l_Mass',
    'B_Mass': 'u_Mass',
    'Age': 'Age',
    'b_Age': 'l_Age',
    'B_Age': 'u_Age',
    'e_[M/H]': 'e_M_H'
}, inplace=True)

# Convert DataFrame to a list of tuples for SQL insertion
stellar_properties = df[['StellarID', 'Teff', 'log_g', 'SN', 'Mass', 'l_Mass', 'u_Mass', 'Age', 'l_Age', 'u_Age', 'M_H', 'e_M_H']]
stellar_properties.to_sql('brewer_stellar_property', con=conn, if_exists='append', index=False)

# # Insert data into brewer_stellar_property
# cursor.executemany('''
# INSERT INTO brewer_stellar_property
# (StellarID, Teff, log_g, SN, Mass, l_Mass, u_Mass, Age, l_Age, u_Age, M_H, e_M_H)
# VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
# ''', stellar_properties)
# conn.commit()

IntegrityError: UNIQUE constraint failed: brewer_stellar_property.StellarID

In [74]:
elements = ['C', 'N', 'O', 'Na', 'Mg', 'Al', 'Si', 'Ca', 'Ti', 'V', 'Cr', 'Mn', 'Fe', 'Ni', 'Y']
survey_id = 1  # Assuming the ID for 'Brewer' is 1 (you might need to verify this)

for element in elements:
    df_element = pd.DataFrame({
        'StellarID': df['StellarID'],
        'Element_Ratio': f'{element}_H',
        'Abundance': df[f'[{element}/H]'],
        'Error': df[f'e_[{element}/H]'],
        'SurveyID': survey_id
    })

    # Convert DataFrame to a list of tuples for SQL insertion

    # Insert data into elemental_abundances table
    df_element.to_sql('elemental_abundances', con=conn, if_exists='append', index=False)

    # cursor.executemany('''
    # INSERT INTO elemental_abundances (StellarID, Element_Ratio, Abundance, Error, SurveyID)
    # VALUES (?, ?, ?, ?, ?)
    # ''', element_records)
    # conn.commit()
conn.close()

In [122]:
df = pd.read_csv("../preprocessed_data/APOGEE_Planet_Hosts.csv")

In [124]:
df.columns

Index(['host', 'apogee_id', 'ra_x', 'dec_x', 'ra_y', 'dec_y', 'glon', 'glat',
       'snr', 'extratarg', 'teff', 'teff_err', 'logg', 'logg_err', 'm_h',
       'm_h_err', 'fe_h', 'fe_h_err', 'o_fe', 'o_fe_err', 'na_fe', 'na_fe_err',
       'mg_fe', 'mg_fe_err', 'al_fe', 'al_fe_err', 'k_fe', 'k_fe_err', 'co_fe',
       'co_fe_err'],
      dtype='object')

In [136]:
conn = sqlite3.connect("../test.db")
create_database_schema(conn)
cursor = conn.cursor()

df = pd.read_csv("../preprocessed_data/APOGEE_Planet_Hosts.csv")
# Assume 'df' is your DataFrame loaded with Brewer data
df.rename(columns={
    'apogee_id': 'StellarID',
    'teff': 'Teff',
    'teff_err': 'e_Teff',
    'logg': 'log_g',
    'logg_err': 'e_log_g',
    'm_h': 'M_H',
    'm_h_err': 'e_M_H',
    'snr': 'SN'
}, inplace=True)

# Convert DataFrame to a list of tuples for SQL insertion
stellar_properties = df[['StellarID', 'Teff', 'e_Teff', 'log_g', 'e_log_g', 'SN', 'M_H', 'e_M_H']]
stellar_properties.to_sql('apogee_stellar_property', con=conn, if_exists='append', index=False)

# # Insert data into brewer_stellar_property
# cursor.executemany('''
# INSERT INTO brewer_stellar_property
# (StellarID, Teff, log_g, SN, Mass, l_Mass, u_Mass, Age, l_Age, u_Age, M_H, e_M_H)
# VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
# ''', stellar_properties)
# conn.commit()

21

In [143]:

# Elements and corresponding column names from the DataFrame
elements_with_columns = {
    'Fe': ('fe_h', 'fe_h_err'),
    'O': ('o_fe', 'o_fe_err'),
    'Na': ('na_fe', 'na_fe_err'),
    'Mg': ('mg_fe', 'mg_fe_err'),
    'Al': ('al_fe', 'al_fe_err'),
    'K': ('k_fe', 'k_fe_err'),
    'Co': ('co_fe', 'co_fe_err')
}

# Assuming SurveyID for APOGEE is 2
survey_id = 2

# Establish database connection
conn = sqlite3.connect("../test.db")

# Iterate over each element and prepare data for insertion
for element, (abundance_col, error_col) in elements_with_columns.items():
    try:
        if element != 'Fe':
        # Create a DataFrame for each element
            df_element = pd.DataFrame({
                'StellarID': df['StellarID'],  # Assuming 'apogee_id' is the unique stellar ID
                'Element_Ratio': f'{element}_Fe',  # Format: '[Element/Fe]'
                'Abundance': df[abundance_col],  # Element abundance column
                'Error': df[error_col],  # Error column
                'SurveyID': survey_id
            })
        else:
            # Create a DataFrame for each element
            df_element = pd.DataFrame({
                'StellarID': df['StellarID'],  # Assuming 'apogee_id' is the unique stellar ID
                'Element_Ratio': f'{element}_H',  # Format: '[Fe/H]'
                'Abundance': df[abundance_col],  # Element abundance column
                'Error': df[error_col],  # Error column
                'SurveyID': survey_id})
        # Insert data into `elemental_abundances` table
        df_element.to_sql('elemental_abundances', con=conn, if_exists='append', index=False)

    except KeyError as e:
        print(f"KeyError for element {element}: {e}")
    except Exception as ex:
        print(f"Error while processing element {element}: {ex}")

# Close the connection
conn.close()

In [105]:
if __name__ == "__main__":
    csv_path = "../preprocessed_data/planet_and_system.csv" 
    db_path = "../test.db"
    load_data(csv_path, db_path)

                     sys_name  sy_snum  sy_pnum          ra        dec
0                         NaN      NaN      NaN         NaN        NaN
1     2MASS J04372171+2651014      1.0      1.0   69.340553  26.850300
2                      51 Eri      3.0      1.0   69.400742  -2.473825
5                      51 Peg      1.0      1.0  344.367540  20.769096
30                     55 Cnc      2.0      5.0  133.146837  28.329815
...                       ...      ...      ...         ...        ...
8174                  WASP-98      2.0      1.0   58.429011 -34.328272
8181              WD 1856+534      3.0      1.0  284.415675  53.509024
8183                     XO-1      1.0      1.0  240.549274  28.169625
8217                     XO-3      1.0      1.0   65.469581  57.817209
8232                     XO-4      1.0      1.0  110.388029  58.268109

[200 rows x 5 columns]

IntegrityError: UNIQUE constraint failed: system.sys_name

In [94]:
systems_df = df[['hostname', 'sy_snum', 'sy_pnum', 'ra', 'dec']].drop_duplicates()
systems_df = systems_df.rename(columns={'hostname': 'sys_name'})
print(systems_df)

                     sys_name  sy_snum  sy_pnum          ra        dec
0                         NaN      NaN      NaN         NaN        NaN
1     2MASS J04372171+2651014      1.0      1.0   69.340553  26.850300
2                      51 Eri      3.0      1.0   69.400742  -2.473825
5                      51 Peg      1.0      1.0  344.367540  20.769096
30                     55 Cnc      2.0      5.0  133.146837  28.329815
...                       ...      ...      ...         ...        ...
8174                  WASP-98      2.0      1.0   58.429011 -34.328272
8181              WD 1856+534      3.0      1.0  284.415675  53.509024
8183                     XO-1      1.0      1.0  240.549274  28.169625
8217                     XO-3      1.0      1.0   65.469581  57.817209
8232                     XO-4      1.0      1.0  110.388029  58.268109

[200 rows x 5 columns]